<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<style>
.login{
top: 20%;
}
</style>
</head>

<body>
 <div class="login">
	<h1>Health Monitoring using Machine Learning</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('y_predict')}}"method="post">
    	<input type="text" name="SBP" placeholder="SBP" required="required" />
        <input type="text" name="DBP" placeholder="DBP" required="required" />
		<input type="text" name="PULSE" placeholder="PULSE" required="required" />
        <input type="text" name="TEMPERATURE" placeholder="TEMPERATURE" required="required" />
        <input type="text" name="SMOKER" placeholder="SMOKER" required="required" />
        <output type="text" name="LEVEL" placeholder="LEVEL" required="required" />
         <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>

   <br>
   <br>
{{ prediction_text}}

 </div>


</body>
</html>

